<div class="three columns">

{% include 'include/about.html' %}
{% include 'include/baby_growth_chart.html' %}

<h4><i class="icon-link icon-large"></i>Blog roll</h4>

 <ul>
  {% for title, link in LINKS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
  <!--{% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
  {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in PAGES %}
      <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}
  {% else %}
    {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
    {% endif %}
  {% endif %}-->
  </ul>

<h4><i class="icon-folder icon-large"></i>Categories</h4>
{% if categories %}
<ul>
	{% for cat, null in categories %}
		<li><a href="{{ SITEURL }}/{{ cat.url|e }}">{{ cat }} ({{ null | count }})
        </a></li>
	{% endfor %}
</ul>
{% endif %}


<h4><i class="icon-tag icon-large"></i>Tags</h4>
{% if TAG_CLOUD_STEPS %}
    <ul id="cloud">
        {% for tag in tag_cloud %}
            <li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a></li>
        {% endfor %}
    </ul>
{% endif %}<!-- /.Tags -->

{% if SOCIALCY and SOCIALYA %}
<nav class="widget">
  <h4><i class="icon-info icon-large"></i>Social</h4>
  <ul>
  {% for name, url in SOCIALCY %}
    <li><a href="{{ url|e }}"><i class="icon-{{ name }} icon-large"></i>Chen-Yen's {{ name }}</a></li>
  {% endfor %}
  {% for name, url in SOCIALYA %}
    <li><a href="{{ url|e }}"><i class="icon-{{ name }} icon-large"></i>Yao-An's {{ name }}</a></li>
  {% endfor %}
  </ul>
</nav>
{% endif %}

</div>
