<section>
    <h4><i class="icon-home icon-large"></i>Hello</h4>
    <h6>
    <a href="http://www.flickr.com/photos/xavierweathertoplai/9468924220/" title="LCT_3372 by ChenYen.Lai, on Flickr"><img src="http://farm3.staticflickr.com/2824/9468924220_28cf488b58_m.jpg" width="240" height="159" alt="LCT_3372"></a>
    </h6>
    <p>
        We are <a href="{{ SITEURL }}/pages/1-chenyen.html">Chen-Yen Lai (賴承彥)</a> and <a href="{{ SITEURL }}/pages/1-yaoan.html">Yao-An Chan (詹堯安)</a>.
        We are here to share our life with our friends.
        We are currently living in Merced, CA USA. 
    </p>
</section>
