<section>
    <h1>
        Authors
    </h1>
    <h2>
<a href="http://www.flickr.com/photos/xavierweathertoplai/9468924220/" title="LCT_3372 by ChenYen.Lai, on Flickr"><img src="http://farm3.staticflickr.com/2824/9468924220_28cf488b58_m.jpg" width="240" height="159" alt="LCT_3372"></a>
    </h2>
    <h2>
        <a href="{{ ROOT }}/author/yao-an-chan.html">Yao-An's Posts</a><br>
    </h2>
    <h2>
        <a href="{{ ROOT }}/author/chen-yen-sin-gan-lai.html">Chen-Yen's Posts</a>
    </h2>
</section>
